.dropdown{
    button{
        background-color: inherit !important;
        border-color: inherit !important;
        border: 0;
        padding: 0;
        margin: 0;
        &::after{
            content: none;
        }
        &:hover,&:focus,&:active,&:focus-visible{
            background-color: inherit !important;
            border: 0;
            box-shadow: none;
        }
        svg:nth-child(2){
            margin-left: 12px;
        }
    }
    &-menu{
        inset: auto !important;
        right: 0 !important;
        min-width: max-content;
        padding: 0;
        .dropdown-header{
            font-size: 1rem;
            font-weight: 500;
            color: #178a87;
            padding: 4px 16px 4px 8px;
            line-height: 24px;
        }
        .dropdown-item{
            padding: 12px 0;
            line-height: 24px;
            color: #000 !important;
            background-color: #fff;
            border-radius: 0.375rem;
            &:hover{
                background-color: rgb(248, 250, 245) !important;
            }
        }
        button{
            text-align: center;
        }
        .dropdown-item.actived{
            color: #178a87 !important;
            background-color: rgb(248, 250, 245) !important;
            pointer-events: auto !important;
            &:hover{
                cursor: not-allowed !important; 
            }
        }
    }
    &-menu.dropdown_lang{
        min-width: 100px;
        text-align: center;
    }
    &-menu.user_section{
        min-width: 220px;
        text-align: center;
        a{
            text-align: left;
            padding-left: 24px;
            color: #000 !important;
            &:hover{
                text-decoration: none !important;
            }
        }
    }
}
