.dropdown,.mydropdown-menu{
    button{
        background-color: inherit !important;
        border-color: inherit !important;
        border: 0;
        padding: 0;
        margin: 0;
        transition:0s all !important;
        
        &::after{
            content: none;
        }
        &:hover,&:focus,&:active,&:focus-visible{
            background-color: inherit !important;
            border: 0;
            box-shadow: none;
        }
        svg:nth-child(2){
            margin-left: 12px;
        }
        .search-content{
            padding: 15px 25px;
            border-radius: 30px;
            width: 23rem;
            text-align: left;
            background-color: #fff;
            color:#082f3e;
            font-size: 1rem;
            border: 1px solid #e5e7eb;
            transition: box-shadow .5s;
            &:hover{
                box-shadow:0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
            }
        }
    }
    &-menu{
        inset: auto !important;
        right: 0 !important;
        min-width: max-content;
        padding: 0;
        .dropdown-item,a,button{
            display: block;
            padding: 12px 0;
            line-height: 24px;
            color: #000 !important;
            background-color: #fff;
            border-radius: 0.375rem;
            &:hover{
                background-color: rgb(248, 250, 245) !important;
            }
        }
        button{
            text-align: center;
        }
        a.actived{
            color: #178a87 !important;
            background-color: rgb(248, 250, 245) !important;
            pointer-events: auto !important;
            &:hover{
                cursor: not-allowed !important; 
            }
        }
    }
    &-menu.dropdown_lang{
        min-width: 100px;
        text-align: center;
    }
    &-menu.user_section{
        min-width: 220px;
        text-align: center;
        a,button{
            text-align: left;
            padding-left: 24px;
            color: #000 !important;
            width: 100%;
            display: block;
            &:hover{
                text-decoration: none !important;
            }
        }
    }
    &-menu.dropdown_lang,&-menu.dropdown_section{
        .dropdown-header{
            font-size: 1rem;
            font-weight: 500;
            color: #178a87;
            padding: 4px 16px 4px 8px;
            line-height: 24px;
        }
    }
    &-menu.search_input{
        min-width: 100%;
        transform: translate(0px, 5px) !important;
        overflow-x: auto;
        .dropdown-header{
            padding: 0 0 0 50px;
            position: sticky;
            z-index: 999;
            top: 0;
            width: 100%;
            border-bottom: 1px solid #178a87;
            background-color: #fff;
            &:hover{
                background-color: rgb(248, 250, 245);
               
            }
            svg{
                color: #178a87;
                position: absolute;
                left: 20px;
                top: calc(50% - 11px);
            }
            span{
                font-size: 1.2rem;
                color: #000;
            }
        }
    }
}


.search_location{
    text-align: center;
    position: relative;
    &_select{
        padding: 15px 25px;
        border-radius: 30px;
        text-align: left;
        background-color: #fff;
        color:#082f3e;
        font-size: 1rem;
        border: 1px solid #e5e7eb;
        transition: box-shadow .5s;
        width: 23rem;
        @include BootstrapMaxWidthResponsive(xx){
            width: 100%;
        }
        &:hover{
            box-shadow:0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
        }
    }
    &_list{
        right: 0 !important;
        top: 54px;
        min-width: 100%;
        padding: 0;
        position: absolute;
        border-radius: 8px;
       a{
            display: block;
            padding: 12px 0;
            line-height: 24px;
            color: #000 !important;
            background-color: #fff;
            text-align: left;
            &:hover{
                background-color: rgb(248, 250, 245) !important;
            }
        }
        button{
            text-align: center;
        }
        a.actived{
            color: #178a87 !important;
            background-color: rgb(248, 250, 245) !important;
            pointer-events: auto !important;
            
            &:hover{
                cursor: not-allowed !important; 
            }
        }
        .locations{
            display: flex;
            flex-direction: column;
            max-height: 192px;
            a{
                padding-left: 50px;
            }
            a:first-child{
                display: none;
            }
       }
       .lists_items{
        min-width: 100%;
        transform: translate(0px, 5px) !important;
        overflow-x: auto;
        border-radius: 8px;
        box-shadow:0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
        &_header{
            padding: 0 0 0 50px;
            position: sticky;
            z-index: 999;
            top: 0;
            width: 100%;
            border-bottom: 1px solid #178a87;
            background-color: #fff;
            &:hover{
                background-color: rgb(248, 250, 245);
            }
            svg{
                color: #178a87;
                position: absolute;
                left: 20px;
                top: calc(50% - 11px);
            }
            span{
                font-size: 1.2rem;
                color: #000;
            }
        }
       }
    }
    .search-all{
        position: absolute;
        color: #178a87;
        top: calc(50% - 25px);
        right: 0;
    }
    .shaowed{
        box-shadow:0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
    }
}


.mydropdown-menu{
    position: relative;
    button{
        svg{
            color: #fff;
        }
    }
    .menu{
        position: absolute;
        right: 0;
        top: 40px;
        min-width: 220px;
        text-align: center;
        padding: 0;
        box-shadow:0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
        border-radius: 0.375rem;
        background-color: #fff;
        a,button{
            display: block;
            text-align: left;
            padding: 12px 0 12px 24px;
            line-height: 1.5rem;
            color: rgb(8, 47, 62) !important;
            width: 100%;
            display: block;
            background-color: #fff;
            border-radius: 0.375rem;
            &:hover{
                text-decoration: none !important;
                background-color: rgb(248, 250, 245) !important;
            }
        }
        a.actived{
            color: #178a87 !important;
            background-color: rgb(248, 250, 245) !important;
            pointer-events: auto !important;
            &:hover{
                cursor: not-allowed !important; 
            }
        }
        
    }
    
}