.swiper{
    &-slide{
        .form-message{
            top: 0;
            left: 12px;
            position: absolute;
            &-content{
                padding: 3px;
                p{
                    font-size: 0.875rem;
                    padding: 6px;
                }
            }
        }
    }
}