.ship-detail{
    width: 100%;
    &-wrapper{
        padding: 30px 0;
        .ship-head{
            .ship-title{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 24px 0;
                .name{
                    h1{
                        color: rgb(8, 47, 62);
                        font-size: 1.5rem;
                        font-weight: 600
                    }
                    p{
                        color:  rgb(100, 116, 139);
                        font-size: 1rem;
                        font-weight: 500;
                        padding-top:10px;
                    }
                }
                .share{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    button{
                        background-color: #fff;
                        color: rgb(4, 46, 66);
                        padding: 8px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        transition: background-color .3s;
                        &:hover{
                            background-color: rgb(241 245 249);
                        }
                    }
                    .share-link{
                        position: relative;
                        label{
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            input[type="checkbox"]{
                                width: 0;
                                height: 0;
                                opacity: 0;
                                position: absolute;
                                left: -9999999px;
                            }
                        }
                       
                        &:has( label input[type="checkbox"]:not(:checked))  .share-option {
                            display: none;
                        }
                        &:has(label input[type="checkbox"]:checked) .share-option {
                            display: block;
                        }
                        .share-option{
                            position: absolute;
                            right: 0;
                            top: 40px;
                            box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);                         background-color: #fff;
                            z-index: 9999999;
                            border-radius: 5px;
                            border: 1px solid #E5E7EB;
                            p{
                                padding: 12px 24px;
                                display: flex;
                                align-items: center;
                                svg{
                                    margin-right: 5px;
                                }
                            }
                        }
                       
                    }
                }
            }
        }
        .ship-imgs{
           display: grid;
           grid-template-columns: repeat(4,1fr);
           gap: 10px;
           position: relative;
           div{
            display: inline-block;
            height: 290px;
            position: relative;
            span{
                display: block;
                width: 100%;
                height: 100%;
                img{
                    object-fit: cover;
                    aspect-ratio: 16/9;
                }
            }
           }
           div:first-child{
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            height: 100%;
           }
           div:nth-child(2){
            grid-column: 3 / 4;
            grid-row: 1 / 2;
           }
           div:nth-child(3){
            grid-column: 4 / 5;
            grid-row: 1 / 2;
           }
           div:nth-child(4){
            grid-column: 3 / 4;
            grid-row: 2 / 3;
           }
           div:nth-child(5){
            grid-column: 4 / 5;
            grid-row: 2 / 3;
           }
           .detail-carousel{
            position: absolute;
            bottom: 20px;
            right: 20px;
            height: max-content;
            .carousel-btn{
                color: #676AF1;
                padding: 6px 10px;
                display: flex;
                align-items: center;
                background-color: #fff;
                border: 1px solid #676AF1;
                border-radius: 6px;
                transition: .4s all;
                font-size: 0.875rem;
                cursor: pointer;
                gap: 5px;
                &:hover{
                    background-color: #676AF1;
                    color: #fff;
                }
            }
           }
        }
        .ship-info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            padding-top: 25px;
            .data{
                width: 70%;
                .capacity{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .info{
                        font-size: 1rem;
                        p{
                            color: rgb(8, 47, 62);
                            margin-bottom: 10px;
                        }
                        span{
                            color: rgb(100, 116, 139);
                        }
                    }
                    img{
                        border-radius: 50%;
                        width: 48px;
                        height: 48px;
                    }
                }
                .terms{
                    margin: 60px 0;
                    h2{
                        color: rgb(8, 47, 62);
                        font-size: 1.25rem;
                        margin-bottom: 18px;
                        font-weight: 600;
                    }
                    .ters_p{
                        margin-top: 25px;
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        align-items: center;
                        gap: 1.5rem;
                        span{
                            font-size: 1rem;
                            svg{
                                margin-right: 5px;
                            }
                            span{
                                display: inline-block;
                                width: 13rem;
                            }
                        }
                    }
                    .question{
                        a{
                            color: rgb(8, 47, 62);
                            text-decoration: underline;
                            margin-left: 8px;
                            display: inline-block;
                        }
                    }
                }
                .summary{                 
                    p{
                        color: rgb(8, 47, 62);
                        line-height: 1.5rem;
                        margin-bottom: 25px;
                    }
                }
                .comments{
                    margin-top: 60px;
                    .point{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: .5rem;
                        svg{
                            color: #178a87;
                        }
                        p{
                            color: rgb(8, 47, 62);
                            font-size: 1rem;
                        }
                        span{
                            color: rgb(100 116 139);
                        }
                    }
                    .raiting{
                        margin: 20px 0;
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        .score{
                            margin-bottom: 15px;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            p{
                                font-size: 0.875rem;
                                color: rgb(8, 47, 62);
                            }
                            p:first-child{
                                width: 8rem;
                            }
                            .rod{
                                width: 140px;
                                background-color: #cbd5e1;
                                height: 8px;
                                border-radius: 6px;
                                &-val{
                                    display: block;
                                    width: var(--rod-w);
                                    background-color: #178a87;
                                    border-radius: 6px;
                                    height: 8px;
                                }
                            }
                        }
                      
                    }
                    .user-comments{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .comment{
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 15px;
                            .user-info{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                .name{
                                    display: flex;
                                    align-items: center;
                                    gap: .5rem;
                                    font-weight: 500;
                                    svg{
                                        color: #178a87;
                                    }
                                    p{
                                        color: rgb(8, 47, 62);
                                    }
                                }
                                .date{
                                    color: rgb(100, 116, 139);
                                    font-size: 0.875rem;
                                }
                            }
                            .comment-text{
                                span,p{
                                    margin-top: 8px;
                                }
                                span{
                                    color: rgb(8, 47, 62);
                                    font-weight: 500;
                                    display: block;
                                }
                                p{
                                    color: rgb(8, 47, 62);
                                    font-weight: 400;
                                    font-size: 0.875rem;
                                }
                            }
                        }
                    }
                }
            }
            .price{
                width: 400px;
                min-width: 400px;
                position: relative;
                &-wrapper{
                    padding: 16px;
                    border: 1px solid #e5e7eb;
                    border-radius: 6px;
                    box-shadow: 0 0 #0000, 0 0 #0000,0 0 #0000, 0 0 #0000,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
                    position: sticky;
                    top: 0;
                    //overflow: hidden;
                    .head{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        margin-bottom: 20px;
                        .price-v{
                            display: flex;
                            align-items: baseline;
                            p{
                                font-size: 1.75rem;
                                line-height: 2rem;
                                color: rgb(8, 47, 62);
                            }
                            span{
                                color: rgb(100 116 139);
                                font-size: 1.25rem;
                            }
                        }
                        .comment-info{
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            svg{
                                color: #178a87;
                            }
                            p{
                                color: rgb(8, 47, 62);
                            }
                        }
                    }
                    .options{
                        form{
                            display: grid;
                            grid-template-columns: repeat(2,1fr);
                            border: 1px solid #64748B;
                            border-radius: 12px;
                            margin-top: 12px;
                        .port,.date,.duration,.people{
                            padding: 4px 12px 10px;
                            display: flex;
                            flex-direction: column;
                            .opt-inf{
                                color: rgb(8, 47, 62);
                                font-size: 0.875rem;
                                display: inline-block;
                                margin-bottom: 8px;
                            }
                            input{
                                color: rgb(8, 47, 62);
                                text-align: center;
                            }
                        }
                        .port{
                            .port-s{
                                text-align: center;
                                position: relative;
                                select{
                                    appearance: none;
                                    text-align: center;
                                    color: rgb(8, 47, 62);
                                    position: relative;
                                    width: 100%;
                                    background: url(#{$path-img-url}/arrow.png#{$cache-busting})98%/.85rem no-repeat;
                                    background-position: right 0.3em top 64%;
                                    &::before{
                                        content: "";
                                        background: url(#{$path-img-url}/arrow.png#{$cache-busting})98%/.85rem no-repeat;;
                                        width: 24px;
                                        height: 24px;
                                        position: absolute;
                                        z-index: 99;
                                        right: 0;
                                    }
                                }
                               
                            }
                           
                            
                        }
                        .duration,.people{
                            button{
                                background-color: #fff;
                                color: rgb(8, 47, 62);
                            }
                            input[type='number']::-webkit-inner-spin-button, 
                            input[type='number']::-webkit-outer-spin-button { 
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            input[type="number"]{
                                text-align: center;
                            }
                            .opt-in{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .opt-in-v{
                                    span{
                                        margin-right: 10px;
                                    }
                                }
                            }
                            .opt-in-p{
                                border: 1px solid #6366F1;
                                margin: 0 12px;
                                height: 25px;
                                padding: 0 10px 2px;
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                               
                            }
                        }
                        .port,.duration{
                            border-right: 1px solid #64748B;
                        }
                        .port,.date{
                            border-bottom: 1px solid #64748B;
                        }
                        .date{
                            .react-datepicker-popper{
                                transform: translate(-113px, 128px) !important;
                                .react-datepicker__triangle{
                                    display: none;
                                }
                                .react-datepicker{
                                    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
                                    border-color: rgb(203 213 225);
                                    display: flex;
                                    .react-datepicker__month-container{
                                        background-color: #fff;
                                        .react-datepicker__header{
                                            background-color: #fff;
                                            border: none;
                                            .react-datepicker__current-month{
                                                font-size: 0.875rem;
                                                color: rgb(8, 47, 62);
                                                font-weight: 400;
                                                margin-bottom: 20px;
                                            }
                                            .react-datepicker__day-names{
                                                display:grid;
                                                grid-template-columns: repeat(7,1fr);
                                                justify-items: center;
                                                div{
                                                    color: rgb(8, 47, 62);
                                                    font-size: 0.875rem;
                                                    font-weight: 600;
                                                    text-transform: uppercase;
                                                    padding: 7px 14px !important;
                                                    line-height: 1rem !important;
                                                    width: max-content !important;
                                                }
                                            }
                                        }
                                        .react-datepicker__month{
                                            margin: 0.4rem 0 !important;
                                            .react-datepicker__week{
                                                display: grid;
                                                grid-template-columns: repeat(7,1fr);
                                                justify-items: center;
                                                div{
                                                    color: rgb(8, 47, 62);
                                                    font-size: 0.875rem;
                                                    padding: 10px 14px;
                                                    line-height: 1rem !important;
                                                    width: max-content !important;
                                                    border-radius: 4.8px !important;
                                                    &:hover{
                                                        background-color: rgb(241 245 249) !important;
                                                    }
                                                }
                                                .react-datepicker__day--today{
                                                    background-color: #cff9e9 !important;
                                                    color: rgb(8, 47, 62) !important;
                                                    &:hover{
                                                        background-color: #cff9e9  !important;
                                                        color: rgb(8, 47, 62) !important;
                                                    }
                                                }
                                                .react-datepicker__day--selected{
                                                    background-color: #178A87 !important;
                                                    color: #fff !important;
                                                    &:hover{
                                                        background-color: #178A87 !important;
                                                        color: #fff !important;
                                                    }
                                                }
                                                .react-datepicker__day--keyboard-selected{
                                                    background-color: #fff;
                                                }
                                            }
                                        }
                                        .react-datepicker__day--disabled{
                                            color:rgb(203, 213, 225) !important;
                                            text-decoration: line-through;
                                            &:hover{
                                                cursor: not-allowed;
                                            }
                                        }
                                    }
                                    .react-datepicker__time-container{
                                        .react-datepicker__header{
                                            background-color: #fff;
                                            border: none;
                                        }
                                        .react-datepicker__time{
                                            .react-datepicker__time-box{
                                                ul{
                                                    li{
                                                        color: rgb(8, 47, 62);
                                                        line-height: 1rem;
                                                        font-size: 0.875rem;
                                                        padding: 6px 8px !important;
                                                        margin: 0 5px !important;
                                                        &:hover{
                                                            background-color: rgb(241 245 249);
                                                        }
                                                    }
                                                   
                                                    .react-datepicker__time-list-item--selected{
                                                        background-color: #178a87;
                                                        color: #fff;
                                                        border-radius: 8px;
                                                        &:hover{
                                                            background-color: #178a87 !important;
                                                            color: #fff !important;
                                                        }
                                                    }
                                                    .react-datepicker__time-list-item--disabled{
                                                        background-color: #fff !important;
                                                        color:rgb(203, 213, 225) !important;
                                                        text-decoration: line-through;
                                                        &:hover{
                                                            background-color: #fff !important;
                                                            cursor: not-allowed;
                                                            color:rgb(203, 213, 225) !important;
                                                            text-decoration: line-through;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .react-datepicker__navigation{
                                        span{
                                            &::before{
                                                border-color: rgb(8, 47, 62);
                                                border-style: solid;
                                                border-width: 1px 1px 0 0;
                                                content: "";
                                                display: block;
                                                height: 5px;
                                                position: absolute;
                                                top: calc(50% - 4px);
                                                width: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        }
                    }
                    .order{
                        margin: 2rem 0 1rem ;
                        button{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            max-width: 100%;
                            background-color: #178A87;
                            color: #fff;
                            font-size: 1rem;
                            padding: 16px 0;
                            border-radius: 6px;
                            transition: background-color .2s ease-in;
                            max-height: 51px;
                            &:hover{
                                background-color: #107076;
                            }
                        }
                        .right{
                            color: rgb(100, 116, 139);
                            font-size: 0.875rem;
                            line-height: 1rem;
                            text-align: center;
                            margin-top: 16px;
                            display: block;
                        }
                        .price-calculate{
                            margin-top: 1rem;
                            .calc,.total{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 12px;
                            }
                            .calc{
                                border-bottom: 1px solid rgb(8, 47, 62);
                                span{
                                    color: #6B838C;
                                    font-size: 0.875rem;
                                    margin-bottom: 12px;
                                }
                            }
                            .total{
                                p{
                                    font-size: 1.125rem;
                                    color: rgb(8, 47, 62);
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    .form-message{
                        position: absolute !important;
                        width: 400px !important;
                        top: 0 !important;
                        left: 0;
                    }
                }
            }
        }   
    }
    .swiper-wrapper{
        display: flex !important;
        justify-content: space-between !important;
    }
}


.carousel-modal{
    margin: 0;
    padding: 0 !important;
    .modal-dialog{
        width: 100%;
        max-width: 100%;
        height: 100%;
        border-radius: 8px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .modal-content{
            border:none !important;
            height: 100%;
            background-color: #fff;
            height: 100%;
        }   
        .modal-wrapper{
            width: 100%; 
            max-width: 100%;
            height: 100%;
            margin: auto;
            .swiper{
                height: 100%;
                width: 100%;
                padding-bottom: 40px;
                &-wrapper{
                    .swiper-slide{
                        width: 100% !important;
                        height: 100% !important;
                        img{
                            object-fit: contain;
                        }
                    }
                }
                .swiper-button-next,.swiper-button-prev{
                    color: #178A87;
                }
                .swiper-pagination-bullet-active{
                    background: #178A87;
                }
            }         

        }
        .close-model{
            text-align: end;
            padding: 10px;
            button{
                background-color: inherit;
            }
        }
    }
    
}

