.auth-form,.settings-form{
    width: 100%;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &-content{
        position: relative;
        width: 550px;
        min-width: 550px;
        padding: 20px;
        box-shadow:  0 0 #000, 0 0 #0000,  0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 12px;
        .form-title{
            width: 100%;
            h3{
                text-align: start;
                color: rgb(8, 47, 62);
                font-size: 1.75rem;
                line-height: 2rem;
            }
            margin-bottom: 5px;
        }
        .form-wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px 0;
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .user-names{
                    display: flex;
                    gap: 20px;
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 12px;
                        flex:1;
                       
                        label{
                            color: rgb(8, 47, 62);
                            font-size: 1rem;
                            width: 100%;
                        }
                    }
                }
                .form-w{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: relative;
                    gap: 12px;
                    label,input{
                        width: 100%;
                    }
                    label{
                        color: rgb(8, 47, 62);
                        font-size: 1rem;
                    }
                  
                    svg{
                        position: absolute;
                        right:10px;
                        color: #45B8AB;
                        cursor: pointer;
                    }
                    .form-ok{
                        top: 54%;
                    }
                    .form-er{
                        top: 39%;
                    }
                }
                .form-v{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    label{
                        color: rgb(8, 47, 62);
                        a{
                            color: rgb(8, 47, 62);
                            text-decoration: underline;
                        }
                    }
                    input[type="checkbox"]{
                        -webkit-flex-shrink: 0;
                        -ms-flex-negative: 0;
                        flex-shrink: 0;
                        position: relative;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        appearance: none;
                        background-color: #fff;
                        margin: 0;
                        width: 1.3rem;
                        height: 1.3rem;
                        border: 1px solid #178a87;
                        -webkit-border-radius: 0.25rem;
                        -moz-border-radius: .25rem;
                        border-radius: 0.25rem;
                        cursor: pointer;
                        
                        &:checked{
                           background-color: #178a87;
                           &::before{
                            content: "";
                            -webkit-transform: scale(1);
                            -moz-transform: scale(1);
                            -ms-transform: scale(1);
                            -o-transform: scale(1);
                            transform: scale(1);
                            -webkit-transform-origin: bottom left;
                            -moz-transform-origin: bottom left;
                            -ms-transform-origin: bottom left;
                            -o-transform-origin: bottom left;
                            transform-origin: bottom left;
                            -webkit-clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
                            clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
                            width: 1rem;
                            height: 1rem;
                            background-color:#fff;
                            position: absolute;
                            top: 1px;
                            left: 1px;
                            }
                        }
                        
                        
                    }
                    
                }
                .send-btn{
                    margin: 15px 0;
                    width: 100%;
                    padding: 12px 0;
                    border-radius: 6px;
                    background-color: #178a87;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color .3s linear;
                    &:hover{
                        background-color: #107076;
                    }
                }
                input:not([type="checkbox"]):not([type="radio"]){
                    width: 100%;
                    padding: 12px 16px;
                    border-radius: 6px;
                    box-shadow:  0 0 #000, 0 0 #0000,  0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
                }
                
                .success-input{
                    border: 1px solid #45B8AB;
                    &:focus{
                        box-shadow: rgba(#45B8AB, 0.3) 0px 0px 0px 4px;
                    }
                }
                .error-input{
                    border: 1px solid rgb(234, 57, 67);
                    box-shadow: 0 0 0 4px rgba(234,57,67,.2) !important;
                    &:focus{
                        box-shadow: 0 0 0 4px rgba(234,57,67,.2);
                    }
                }
                .form-error-msg{
                    color: #FA1648;
                    font-size: 0.9375rem;
                }
                .form-l{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                   .lang-op{
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        input[type="radio"]{
                            -webkit-flex-shrink: 0;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                            position: relative;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -ms-appearance: none;
                            appearance: none;
                            background-color: #fff;
                            margin: 0 20px 0 0;
                            width: 1.3rem;
                            height: 1.3rem;
                            border: 1px solid #178a87;
                            -webkit-border-radius: 0.25rem;
                            -moz-border-radius: .25rem;
                            border-radius: 0.25rem;
                            cursor: pointer;
                            
                            &:checked{
                               background-color: #178a87;
                               &::before{
                                content: "";
                                    -webkit-transform: scale(1);
                                    -moz-transform: scale(1);
                                    -ms-transform: scale(1);
                                    -o-transform: scale(1);
                                    transform: scale(1);
                                    -webkit-transform-origin: bottom left;
                                    -moz-transform-origin: bottom left;
                                    -ms-transform-origin: bottom left;
                                    -o-transform-origin: bottom left;
                                    transform-origin: bottom left;
                                    -webkit-clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
                                    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
                                    width: 1rem;
                                    height: 1rem;
                                    background-color:#fff;
                                    position: absolute;
                                    top: 1px;
                                    left: 1px;
                                }
                            } 
                        }
                        
                   }
                }
            }
        }
        .already,.reset-pass{
            text-align: center;
            color: rgb(8, 47, 62);
            a{
                color: #3B8A87;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .reset-pass{
            margin-top: 10px;
        }
    }
}


.settings-form{
    .send-btn{
        max-height: 43px;
    }
}
.auth-form,.settings-form{
    @include BootstrapMaxWidthResponsive(xs){
        padding: 25px;
    }
    &-content{
        @include BootstrapMaxWidthResponsive(xs){
            width: 100%;
            min-width: 100%;
            .form-title{
                h3{
                    font-size: 1.5rem;
                }
            }
            
        }
        .form-wrapper{
            .user-names{
                @include BootstrapMaxWidthResponsive(xm){
                    flex-direction: column !important;
                }
            }
        }
    }
}

.loading {
    animation: svg-loading 1.5s linear infinite;
  }
  
  @keyframes svg-loading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }