.payment{
    &-wrapper{
        padding: 25px 0;
        .payment-info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding-top: 25px;
            .reservation-info{
                width: 70%;
            }
            .reservation-ship-card{
                width: 350px;
                min-width: 350px;
                position: relative;
                &-wrapper{
                    padding: 16px;
                    border: 1px solid #e5e7eb;
                    border-radius: 6px;
                    box-shadow: 0 0 #0000, 0 0 #0000,0 0 #0000, 0 0 #0000,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
                    position: sticky;
                    top: 0;
                    .reservation-ship-img{
                        width: 100%;
                        height: 240px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 0.375rem;
                        }
                    }
                    .ship-name{
                        font-size: 1.25rem;
                        padding: 15px 0;
                        text-align: center;
                        color: rgb(8, 47, 62);
                        font-weight: 500;
                    }
                    .price-calculate{
                        .calc,.total{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 12px;
                        }
                        .calc{
                            border-bottom: 1px solid rgb(8, 47, 62);
                            span{
                                color: #6B838C;
                                font-size: 0.875rem;
                                margin-bottom: 12px;
                            }
                        }
                        .total{
                            p{
                                font-size: 1.125rem;
                                color: rgb(8, 47, 62);
                                font-weight: 500;
                            }
                            p:last-child{
                                white-space: nowrap;
                            }
                        }
                    }
                }

            }
            
        }
    }
}