.payment{
    &-wrapper{
        padding: 25px 0;
        .payment-info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            @include BootstrapMaxWidthResponsive(md){
                flex-direction: column-reverse;
                //align-items: center;
            }
            .reservation-info{
                width: 75%;
                @include BootstrapMaxWidthResponsive(md){
                    width: 100%;
                    padding: 0 15px;
                }
                .reservation-detail{
                    p{
                        span{
                            display: inline-block;
                            font-size: 1rem;
                            color:rgb(8, 47, 62);
                            margin-bottom: 10px;
                            @include BootstrapMaxWidthResponsive(md){
                                font-size: .90rem;
                            }

                        }
                        span:first-child{
                            width: 10rem;
                            @include BootstrapMaxWidthResponsive(xm){
                                width: 7.75rem;
                            }
                        }
                    }
                }
                .reservation-advice{
                    p{
                        font-size: 1rem;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 8px 16px;
                        margin: 16px 0;
                        border-radius: 8px;
                        line-height: 1.5rem;
                        @include BootstrapMaxWidthResponsive(md){
                            font-size: .9rem;
                        }
                    }
                    p:first-child{
                        background-color: #CFF9E9;
                        color: rgb(11, 86, 99);
                        border: 1px solid rgb(11, 86, 99);
                    }
                    p:last-child{
                        background-color: #DADAFC;
                        color: rgb(69, 71, 169);
                        border: 1px solid #4547A9;
                    }
                }
                .payment-forms{
                    > form{
                        margin: 25px 0;
                        input[type="checkbox"]{
                            -webkit-flex-shrink: 0;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                            position: relative;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -ms-appearance: none;
                            appearance: none;
                            background-color: #fff;
                            margin: 0;
                            width: 1.3rem;
                            height: 1.3rem;
                            border: 1px solid #178a87;
                            -webkit-border-radius: 0.25rem;
                            -moz-border-radius: .25rem;
                            border-radius: 0.25rem;
                            cursor: pointer;
                            
                            &:checked{
                               background-color: #178a87;
                               &::before{
                                content: "";
                                -webkit-transform: scale(1);
                                -moz-transform: scale(1);
                                -ms-transform: scale(1);
                                -o-transform: scale(1);
                                transform: scale(1);
                                -webkit-transform-origin: bottom left;
                                -moz-transform-origin: bottom left;
                                -ms-transform-origin: bottom left;
                                -o-transform-origin: bottom left;
                                transform-origin: bottom left;
                                -webkit-clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
                                clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
                                width: 1rem;
                                height: 1rem;
                                background-color:#fff;
                                position: absolute;
                                top: 1px;
                                left: 1px;
                            }
                        }}
                        .payment-right{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: 1rem;
                            color: rgb(8, 47, 62);
                            line-height: 1.5rem;
                        }
                        label{
                            @include BootstrapMaxWidthResponsive(md){
                                font-size: .95rem;
                            }
                        }
                        button{
                            width: 100%;    
                            text-align: center;
                            margin: 15px 0;
                            padding: 12px 0;
                            border-radius: 8px;
                            transition: .4s all;
                        }
                        .ok{
                            background-color: #107076;
                            color: #fff;
                            cursor: pointer;
                           
                        }
                        .not-ok{
                            background-color: #E2E8F0;
                            color: #082F64;
                            cursor: not-allowed;
                        }
                    }
                }
            }
            .reservation-ship-card{
                width: 350px;
                max-width: 350px;
                position: relative;
                @include BootstrapMaxWidthResponsive(md){
                    margin: auto;
                    margin-bottom: 20px;
                }
                @include BootstrapMaxWidthResponsive(xm){
                    width: 100%;
                    max-width: 350px;
                }
                &-wrapper{
                    padding: 16px;
                    border: 1px solid #e5e7eb;
                    border-radius: 6px;
                    box-shadow: 0 0 #0000, 0 0 #0000,0 0 #0000, 0 0 #0000,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
                    position: sticky;
                    top: 0;
                    .reservation-ship-img{
                        width: 100%;
                        height: 240px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 0.375rem;
                            object-fit: cover;
                        }
                    }
                    .ship-name{
                        font-size: 1.25rem;
                        padding: 15px 0;
                        text-align: center;
                        color: rgb(8, 47, 62);
                        font-weight: 500;
                        @include BootstrapMaxWidthResponsive(xm){
                            font-size: 1.05rem;

                        }
                    }
                    .price-calculate{
                        .calc,.total{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 12px;
                        }
                        .calc{
                            border-bottom: 1px solid rgb(8, 47, 62);
                            span{
                                color: #6B838C;
                                font-size: 0.875rem;
                                margin-bottom: 12px;
                            }
                        }
                        .total{
                            p{
                                font-size: 1.125rem;
                                color: rgb(8, 47, 62);
                                font-weight: 500;
                                @include BootstrapMaxWidthResponsive(md){
                                    font-size: 1.05rem;
                                }
                                @include BootstrapMaxWidthResponsive(xm){
                                    font-size: .9375rem;
                                }
                            }
                            p:last-child{
                                white-space: nowrap;
                            }
                        }
                    }
                }

            }
            
        }
    }
    &-id{
        margin-bottom: 25px;
        @include BootstrapMaxWidthResponsive(md){
            margin: 0 15px;
        }
        h3{
            font-size: 1.5rem;
            color: rgb(8, 47, 62);
            @include BootstrapMaxWidthResponsive(md){
                font-size: 1.25rem;
                margin-bottom: 15px;
            }
        }
    }
}
.card-modal{
    margin: 0;
    padding: 0;
    z-index: 9999999 !important;
    .modal-dialog{
        width: 75%;
        min-width: 75%;
        height: 100%;
        border-radius: 8px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @include BootstrapMaxWidthResponsive(xl_m){
            min-width: 1100px;
        }
        @include BootstrapMaxWidthResponsive(lg_m){
            min-width: 80%;
        }
        @include BootstrapMaxWidthResponsive(xxs){
            width: 100% !important; 
            min-width: 100% !important;
        }
        .modal-content{
            border:none !important;
            background-color: #fff;
            height: 700px;
            min-height: 700px;
            @include BootstrapMaxWidthResponsive(lg_m){
                height: 90%;
                min-height: 90%;
            }
            @include BootstrapMaxWidthResponsive(xxs){
                height: 100%;
                min-height: 100%;
            }
        }   
        .modal-wrapper{
            width: 100%;
            background-color: #fff;
            @include BootstrapMaxWidthResponsive(xxs){
                height: 100%;
            }
            margin: auto;         
            .payment-options{
                background-color: #fff;
                width: 85%; 
                max-width: 85%;
                margin: auto;
                @include BootstrapMaxWidthResponsive(xxs){
                    width: 100% ; 
                    min-width: 100% ;
                }
                .card-option{
                    border-top: 1px solid #DCDCDC;
                    padding-top: 15px;
                    @include BootstrapMaxWidthResponsive(xxs){
                        padding: 10px 20px 0;
                    }
                    .option-info{
                        width: 25%;
                        min-width: 210px;
                        background-color: #178A87;
                        color: #fff;
                        text-align: center;
                        padding: 5px 0;
                        p{
                            font-size: 1rem;
                            margin-bottom: 10px;
                        }
                        span{
                            font-size: 0.75rem;
                            width: 7rem;
                            display: inline-block;
                        }
                    }
                    .total-price{
                        margin: 32px 0;
                        font-size: 0.9375rem;
                        span{
                            color: rgb(8, 47, 62);
                            font-weight: 600;
                        }
                    }
                    .card-form{
                        position: relative;
                        > form{
                            display: flex;
                            flex-direction: column;
                            row-gap: 15px;
                            padding: 0 40px;
                            position: relative;
                            @include BootstrapMaxWidthResponsive(xxs){
                                padding: 0;
                            }
                            .slash{
                                height: 41px;
                                display: flex;
                                align-items: center;
                                font-weight: 600;
                                font-size: 1.25rem;
                            }
                            label{
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                position: relative;
                                span{
                                    color: rgb(8, 47, 62);
                                }
                                input[type="text"]{
                                    padding: 10px;
                                    border: 1px solid #178A87; 
                                }
                                .success-input{
                                    border: 1px solid #45B8AB;
                                    &:focus{
                                        box-shadow: rgba(#45B8AB, 0.3) 0px 0px 0px 4px;
                                    }
                                }
                                .error-input{
                                    border: 1px solid rgb(234, 57, 67) !important;
                                    box-shadow: 0 0 0 4px rgba(234,57,67,.2) !important;
                                    &:focus{
                                        box-shadow: 0 0 0 4px rgba(234,57,67,.2);
                                    }
                                }
                            }
                            .card-numbers{
                                display: flex;
                                align-items: flex-end;
                                justify-content: space-between;
                                @include BootstrapMaxWidthResponsive(lg_m){
                                    flex-wrap: wrap;
                                    row-gap: 15px;
                                }
                            }
                            .card-number,.card-name{
                                width: 40%;
                                max-width: 445px;
                                @include BootstrapMaxWidthResponsive(xl_m){
                                    width: 320px;
                                    max-width: 320px;
                                }
                                @include BootstrapMaxWidthResponsive(lg_m){
                                    width: 100%;
                                    max-width: 100%;
                                }
                            }
                            .card-month,.card-year{
                                width: 15%;
                                max-width: 160px;
                                @include BootstrapMaxWidthResponsive(xl_m){
                                    width: 120px;
                                    max-width: 120px;
                                }
                                @include BootstrapMaxWidthResponsive(lg_m){
                                    width: 48%;
                                    max-width: 48%;
                                }
                                @include BootstrapMaxWidthResponsive(xxs){
                                    width: 45%;
                                    max-width: 45%;
                                }
                                input{
                                    &::placeholder{
                                        font-weight: 600;
                                    }
                                }
                            }
                            .card-cvv{
                                @include BootstrapMaxWidthResponsive(xl_m){
                                    width: 170px;
                                    max-width: 170px;
                                }
                                @include BootstrapMaxWidthResponsive(lg_m){
                                    width: 100%;
                                    max-width: 100%;
                                }
                            }
                            button{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;    
                                text-align: center;
                                margin: 20px 0;
                                padding: 12px 0;
                                border-radius: 8px;
                                transition: .4s all;
                                max-height: 43px;
                            }
                            .ok{
                                background-color: #107076;
                                color: #fff;
                                cursor: pointer;
                               
                            }
                            .not-ok{
                                background-color: #E2E8F0;
                                color: #082F64;
                                cursor: not-allowed;
                            }
                            .form-message{
                                left: 28%;
                                top: -25%;
                            }
                            
                        }
                        .card-services-img{
                            margin-top: 40px;
                            text-align: center;
                            position: relative;
                            height: 11vh;
                            @include BootstrapMaxWidthResponsive(lg_m){
                                margin-top: 0px;
                            }
                            img{
                                object-fit: contain;
                            }
                            @include BootstrapMaxWidthResponsive(md){
                                height: 9vh;
                            }
                            // @include BootstrapMaxWidthResponsive(xxs){
                            //     height: 6vh;
                            // }
                            @include BootstrapMaxWidthResponsive(xm){
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
        .close-model{
            text-align: end;
            padding: 10px;
            margin-bottom: 50px;
            @include BootstrapMaxWidthResponsive(xm){
                margin-bottom: 0px;
            }
            button{
                background-color: inherit;
            }
        }
    }
    
}

