.shiplist,.serviceslist{
    margin: 20px 0;
    .info{
        padding: 10px 0;
      
        .options{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.25rem;
            .title{
                h1{
                    color: rgb(8, 47, 62);
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
                p{
                    color: rgb(100, 116, 139);
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
            .arrangement{
                position: relative;
                button{
                    color: rgb(8, 47, 62);
                    border: 1px solid rgb(69, 184, 171);
                    border-radius: 6px;
                    padding: 8px 16px;
                    background-color: #fff;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 170px;
                    white-space: nowrap;
                    cursor: pointer;
                    user-select: none;
                    // & > input[type="checkbox"]{
                    //     position: absolute;
                    //     z-index: -999;
                    //     appearance: none;
                    //     width: 0;
                    //     height: 0;
                    //     user-select: none;

                    // }
                }
                .sort{
                    display: flex;
                    flex-direction: column;
                    border-radius: 6px;
                    border: 1px solid rgb(69, 184, 171);
                    position: absolute;
                    z-index: 999;
                    width: 100%;
                    background-color: #fff;
                    button{
                        font-size: 0.9375rem;
                        color: rgb(8, 47, 62);
                        width: 100%;
                        display: inline-block;
                        padding: 4px 16px;
                        user-select: none;
                        border: none;
                        text-align: left;
                        &:hover{
                            background-color: rgb(69, 184, 171);
                            color: #fff;
                        }
                    }
                    button.actived{
                        background-color: rgb(69, 184, 171);
                        color: #fff;
                    }
                } 
                
            }
        }
    }
    .ships{
        padding: 2rem 0;
        &-wrapper{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            justify-items: center;
            row-gap: 2rem;
        }
    }
    .services{
        &-wrapper{
            .organization-cards{
                width: 100%;
                
                margin-bottom: 25px;
                .services-title{
                    color: rgb(8, 47, 62);
                    font-size: 1.25rem;
                    margin-bottom: 20px;
                }
                .services-list{
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    justify-items: center;
                    row-gap: 30px;
                }
                .organization-card{
                    width: 280px;
                    
                    img{
                        width: 100%;
                        max-width: 100%;
                        height: 445px;
                        max-height: 445px;
                        border-radius: 6px;
                    }
                    .card-content{
                        margin-top: 10px;
                        .kind{
                            font-size: 1.25rem;
                            line-height: 1.5rem;
                            color:  rgb(8, 47, 62);
                        }
                        .info{
                            margin-top: 5px;
                            color: rgb(100, 116, 139);
                            font-size: 1rem;
                            line-height: 1.125rem;
                        }
                        .kind,.info{
                            max-width: 17.5rem;
                        }
                    }
                }
               
            }
            .title{
                p{
                    font-size: 1.25rem;
                    line-height: 2rem;
                    color: rgb(8, 47, 62);
                    margin: 10px 0;
                }
            }
        }
    }
}

