.shiplist,.serviceslist,.favorite-list{
    margin: 20px 0;
    .info{
        padding: 10px 0;  
        @include BootstrapMaxWidthResponsive(xxs){
            margin: 0 15px;
        }   
        .options{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.25rem;
            @include BootstrapMaxWidthResponsive(xm){
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
            .title{
                h1,h2{
                    color: rgb(8, 47, 62);
                    font-size: 1.5rem;
                    line-height: 2rem;
                    @include BootstrapMaxWidthResponsive(md){
                        font-size: 1.25rem;
                    }
                    @include BootstrapMaxWidthResponsive(xxs){
                        font-size: 1.15rem;
                    }
                }
                p{
                    color: rgb(100, 116, 139);
                    font-size: 1rem;
                    line-height: 1.25rem;
                    @include BootstrapMaxWidthResponsive(md){
                        font-size: 1.15rem;
                    }
                    @include BootstrapMaxWidthResponsive(xxs){
                        font-size: 1rem;
                    }
                    
                }
            }
            .arrangement{
                position: relative;
                button{
                    color: rgb(8, 47, 62);
                    border: 1px solid rgb(69, 184, 171);
                    border-radius: 6px;
                    padding: 8px 16px;
                    background-color: #fff;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 170px;
                    white-space: nowrap;
                    cursor: pointer;
                    user-select: none;
                    @include BootstrapMaxWidthResponsive(xm){
                        font-size: 0.9rem;
                        width: 155px;
                    }
                }
                .sort{
                    display: flex;
                    flex-direction: column;
                    border-radius: 6px;
                    border: 1px solid rgb(69, 184, 171);
                    position: absolute;
                    z-index: 999;
                    width: 100%;
                    background-color: #fff;
                    button{
                        font-size: 0.9375rem;
                        color: rgb(8, 47, 62);
                        width: 100%;
                        display: inline-block;
                        padding: 4px 16px;
                        user-select: none;
                        border: none;
                        text-align: left;
                        &:hover{
                            background-color: rgb(69, 184, 171);
                            color: #fff;
                        }
                    }
                    button.actived{
                        background-color: rgb(69, 184, 171);
                        color: #fff;
                    }
                } 
                
            }
        }
    }
    .services{
        &-wrapper{
            
            .title{
                p{
                    font-size: 1.25rem;
                    line-height: 2rem;
                    color: rgb(8, 47, 62);
                    margin: 10px 0;
                }
            }
        }
        .swiper{
            width: 100%;
            height: 100%;
            overflow: visible;
            &-wrapper{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .swiper-slide{
                    width: unset !important;
                }
            }
        }
        .organization-cards{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            .services-title{
                width: 100%;
                text-align: left;
                color: rgb(8, 47, 62);
                font-size: 1.25rem;
                margin-bottom: 20px;
            }
            .organization-card{
                width: 288px;
                .card_img{
                    position: relative;
                    width: 288px;
                    max-width: 288px;
                    height: 445px;
                    max-height: 445px;
                    @include BootstrapMaxWidthResponsive(lg){
                        width: 268px;
                        max-width: 268px;
                        height: 300px;
                        max-height: 300px;
                    }
                }
                a{
                    display: block;
                    @include BootstrapMaxWidthResponsive(lg){
                        margin-right: 20px;
                    }
                }
                img{
                    border-radius: 6px;
                    object-fit: cover;
                   
                }
                .card-content{
                    margin-top: 10px;
                   
                    .kind{
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                        color:  rgb(8, 47, 62);
                    }
                    .info{
                        margin-top: 5px;
                        color: rgb(100, 116, 139);
                        font-size: 1rem;
                        line-height: 1.125rem;
                    }
                    .kind,.info{
                        max-width: 17.5rem;
                    }
                    @include BootstrapMaxWidthResponsive(xxs){
                        .kind{
                            font-size: 1rem;
                          
                        }
                        .info{
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
        .organization-cards:nth-of-type(2){
            .swiper{
                &-wrapper{
                    justify-content: space-evenly !important;
                }
            }
        }
        .other-organization-cards{  
            .card_img{
                position: relative;
                width: 288px;
                max-width: 288px;
                height: 445px;
                max-height: 445px;
                @include BootstrapMaxWidthResponsive(md){
                    width: 225px;
                    max-width: 225px;
                    height: 300px;
                    max-height: 300px;
                }
                @include BootstrapMaxWidthResponsive(xm){
                    width: 160px;
                    max-width: 160px;
                    height: 247px;
                    max-height: 247px;
                }
            }
            .services-title{
                width: 100%;
                text-align: left;
                color: rgb(8, 47, 62);
                font-size: 1.25rem;
                margin-bottom: 20px;
            }
            .services-list{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                justify-items: center;
                align-items: start;
                row-gap: 30px;
                @include BootstrapMaxWidthResponsive(lg){
                    grid-template-columns: repeat(3,1fr);
                }
                @include BootstrapMaxWidthResponsive(md){
                    grid-template-columns: repeat(2,1fr);
                }
                @include BootstrapMaxWidthResponsive(xm){
                  column-gap: 14px;
                }
            }
            .organization-card{
                width: 100%;
                display: flex;
                justify-content: center;
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                   
                }
                img{
                    height: 100%;
                    border-radius: 6px;
                    object-fit: cover;

                }
                .card-content{
                    margin-top: 10px;
                    width: 288px;
                    max-width: 288px;
                    text-align: start;
                    display: inline-block;
                    @include BootstrapMaxWidthResponsive(md){
                        width: 225px;
                        max-width: 225px;
                     
                    }
                    @include BootstrapMaxWidthResponsive(xm){
                        width: 160px;
                        max-width: 160px;
                      
                    }
                    .kind{
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                        color:  rgb(8, 47, 62);
                    }
                    .info{
                        margin-top: 5px;
                        color: rgb(100, 116, 139);
                        font-size: 1rem;
                        line-height: 1.125rem;
                    }
                    @include BootstrapMaxWidthResponsive(lg){
                        .kind{
                            font-size: 1rem;
                        }
                        .info{
                            font-size: .9375rem;
                        }
                    }
                    @include BootstrapMaxWidthResponsive(md){
                        .kind{
                            font-size: .9375rem;
                        }
                        .info{
                            font-size: .875rem;
                            margin: 0 !important;
                        }
                    }
                    .kind,.info{
                        width: 100%;
                    }
                }
            }
        }
    }
    
}
.ships{
    padding: 2rem 0;
    &-wrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        row-gap: 2rem;
        @include BootstrapMaxWidthResponsive(lg){
            grid-template-columns: repeat(3,1fr);
        }
        @include BootstrapMaxWidthResponsive(md){
            grid-template-columns: repeat(2,1fr);
        }
        @include BootstrapMaxWidthResponsive(xxs){
            grid-template-columns: repeat(1,1fr);
        }
    }
}
.serviceslist{
    @include BootstrapMaxWidthResponsive(xxs){
        margin: 20px;
    }
}

.user-layout{
    padding-top: 10px;
    .back-home{
        color: rgb(8, 47, 62);
        font-size: 0.875rem;
    }
}
.no-record{
    text-align: center;
    background-color: #F1F5F9;
    padding: 10px 24px;
    border-radius: 20px;
    grid-column: 1 /5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    p{
        color: rgb(8, 47, 62);
        font-size: 1.25rem;
        font-weight: 500;
        white-space: nowrap;
    }
    span{
        color: rgb(100, 116, 139);
        font-size: 1rem;
    }
    a{
        display: inline-block;
        background-color: #178A87;
        color: #fff;
        padding: 10px 15px;
        border-radius: 4px;
        transition: background-color .3s;
        &:hover{
            background-color: #107076;
        }
    }
}