
$breakpoints:(
    xz:  0,
    xx:  400px,
    xm:  550px, 
    xs:  670px,
    xxs: 768px,
    sm:  850px,
    md_h : 950px,
    md:  1024px,
    lg_m:1200px,
    lg:  1280px,
    xl:  1400px,
    xl_m: 1540px,
    xl_h: 1640px,
    hd:  1720px,
    1k:  1940px,
    2k:  2580px
);


// Max Width Responsive
@mixin BootstrapMaxWidthResponsive($point) {
    @media (max-width: (map-get($breakpoints, $point) - 1)) {
           @content
    }
}

//Min Width Responsive
@mixin BootstrapMinWidthResponsive($point) {
    @media (min-width: map-get($breakpoints, $point)) {
           @content
    }
}


// TODO:  when project finished Container delete
.container_add{
    width: 100%;
   margin: auto;
}
@media(min-width:640px){
    .container_add{
        width: 640px;
    }
}
@media(min-width:768px){
    .container_add{
        width: 768px;
    }
}
@media(min-width:1024px){
    .container_add{
        width: 1024px;
    }
}
@media(min-width:1280px){
    .container_add{
        width: 1280px;
    }
}

@media(min-width:1540px){
    .container_add{
        width: 1540px;
    }
}
