// Max Width Responsive
@mixin BootstrapMaxWidthResponsive($point) {
    @media (max-width: (map-get($breakpoints, $point) - 1)) {
           @content
    }
}

//Min Width Responsive
@mixin BootstrapMinWidthResponsive($point) {
    @media (min-width: map-get($breakpoints, $point)) {
           @content
    }
}


// TODO:  when project finished Container delete
.container_add{
    width: 100%;
   margin: auto;
}
@media(min-width:640px){
    .container_add{
        width: 640px;
    }
}
@media(min-width:768px){
    .container_add{
        width: 768px;
    }
}
@media(min-width:1024px){
    .container_add{
        width: 1024px;
    }
}
@media(min-width:1280px){
    .container_add{
        width: 1280px;
        
    }
}

@media(min-width:1540px){
    .container_add{
        width: 1540px;
        
    }
}
