.header{
    width: 100%;
    max-width: 100%;
    height: 96px;
    max-height: 96px;
    position: relative;
    z-index: 999;
    background-color: transparent;
    &-web{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        &-left{
            background-color: transparent;
            @include BootstrapMaxWidthResponsive(xs){
                position: absolute;
                width: 100%;
                text-align: center;
                padding-top: 10px;      
            }
        }
        &-center{
            // @include BootstrapMaxWidthResponsive(xs){
            //     display: none;
            // }
        }
        &-right{
            @include BootstrapMaxWidthResponsive(xs){
                display: none;
            }
            .btnsarea{
                display: flex;
                align-items: center;
                gap: 20px;
                &-item{
                    cursor: pointer;
                    a{
                        display: block;
                        color: #fff;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                  
                }
                &-item.user-section{
                    display: flex;
                    gap: 10px;
                    border: 1px solid #fff;
                    border-radius: 30px;
                    padding: 6px 8px;
                }
            }
        }
        
    }
    .stno{
        color: #fff !important;
    }
    .stok{
        color: #082f3e !important;
        border-color: #f3f4f6 !important;
    }
   
}
.header-mobile{
    display: none;
    @include BootstrapMaxWidthResponsive(xs){
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        -webkit-backface-visibility: hidden;
        z-index: 9999;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    }
    &-wrapper{
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            a,p{
                padding: 4px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                color: rgb(8, 47, 62);
                font-size: 0.875rem;
            }
        }
    }
    
}
.sticky_header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #082f3e;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    .header-web-right .btnsarea-item.user-section{
        border-color: #e5e7eb !important;
    }
    .dropdown > button, .mydropdown-menu > button svg{
        color: #082f3e !important;
        &:hover,&:focus,&:active,&:focus-visible{
            color: #082f3e;
        }
    }
    .btnsarea{
        &-item{
            a{
                color: #082f3e;
            }
        }
    }
}

.other_page {
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    .btnsarea{
        &-item * svg {
            color: #082f3e !important;
        }
        &-item{
            a{
                color: #082f3e !important;
            }
            
        }
    }
    .user-section{
        border: 1px solid #e5e7eb !important;
    }
}

.menu-modal{
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
    .modal-content{
        border: 0 !important;
    }
    .modal-dialog{
        margin: 0 !important;
    }
    .close-model{
        background-color: #fff;
        border: 0;
        text-align: end;
        padding: 15px 15px 0 0;
        button{
            background-color: inherit;
            width: max-content;
            color: rgb(4, 46, 66);
        }
    }
}